{
	margin: 0 auto;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.header-main {
	background-color: #ff9900;
	height: 60px;
	margin: auto;
	display: flex;
	width: 100%;
}
.header-main a:hover {
	text-shadow: 2px 2px 4px #000;
	text-decoration: none;
	color: #fff;
}
.call {
	margin-left: 200px;
	border-left: 1px solid #fff;
	height: 60px;
	padding-left: 20px;
	border-right: 1px solid #fff;
	padding-right: 20px;
	
}
.call i {
	vertical-align: middle;
}
.call a{
	color: #fff;
	text-decoration: none;
}
.fas.fa-phone-square {
    -ms-transform:rotate(90deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
    transform:rotate(90deg);         /* Standard syntax */
}
.call a,i {
	line-height: 60px;
}
.mail i {
	color: #fff;
	vertical-align: middle;
	text-decoration: none;
}
.mail {
	height: 60px;
	padding-left: 20px;
	border-right: 1px solid #fff;
	padding-right: 20px;
}
.mail a {
	text-decoration: none;
	color: #fff;
}
.mail a,i {
	line-height: 60px;
}
.search {
	height: 60px;
	padding-left: 20px;
}
.search i {
	line-height: 60px;
	color: #fff;
}
.logo img {
	width: 100%;
}
.nav {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.navigation a{
	text-decoration: none;
	margin: 14px;
	color: #6f6f6f;
}
.navigation a:hover{
color: #ff9900;
text-decoration:none;
}
.truck-img img {
	width: 100%;
	height: 825px;
	background-size: cover;
	filter: brightness(65%);
}
.main-truck {
	position: relative;
}
.main-truck h1 {
	color: #fff;
}
.main-truck p {
	color: #fff;
}
.main_truck_text {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	
}
.main-truck h1 {
	font-size: 80px;
	letter-spacing: 10px;
	text-shadow: 3px 3px #000;
}
.main_truck_text button {
	padding: 10px 50px;
	border-color: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.main_truck_text button:hover {
	-moz-box-shadow:inset 0 0 14px #000000;
   	-webkit-box-shadow: inset 0 0 14px #000000;
   	box-shadow: inset 0 0 14px #000000;
   	color:#ff9900;
   	border-color: #ff9900;

}
.main_truck_text button:hover {
	text-shadow: 0 0 15px #000000;
}
.main_info {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;

}
.info {
	width: 50%;
	text-align: right;
	padding-right: 50px;
	padding-top: 90px;
}
.info h2 {
	color: #1f1f1f;
}
.info p{
	color: #ff9900;
	font-style: italic;
}
.info span {
	color: #9c9c9c;
}
.info button {
	padding: 10px 50px;
	border: 1px solid #1f1f1f;
	background-color: transparent;
	color: #1f1f1f;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.info button:hover {
	-moz-box-shadow:inset 0 0 5px #000000;
   	-webkit-box-shadow: inset 0 0 5px #000000;
   	box-shadow: inset 0 0 5px #000000;
   	color: #ff9900;
}
.up, .down {
	display: flex;

}
.support {
	width: 50%;
}

.support p {
	color: #ff9900;
}
.support span {
	color: #9c9c9c;
}
.facility {
	background-color: #f4f3f4;
	align-items: center;
	text-align: center;
	width: 250px;
	height: 190px;
	margin: 15px;
	padding-top: 30px;
}
.service-support {
	background-color: #f4f3f4;
	align-items: center;
	text-align: center;
	width: 250px;
	height: 190px;
	margin: 15px;
	padding-top: 30px;
}
.charges-fee {
	background-color: #f4f3f4;
	align-items: center;
	text-align: center;
	width: 250px;
	height: 190px;
	margin: 15px;
	padding-top: 30px;
}
.delivery {
	background-color: #f4f3f4;
	align-items: center;
	text-align: center;
	width: 250px;
	height: 190px;
	margin: 15px;
	padding-top: 30px;
}
.trucks-parking {
	display: flex;
}
.truck-parking {
	width: 50%;
}
.truck-parking img {
	filter: brightness(75%);
	background-size: cover;
	width: 100%;
    height: 500px;
    background-position: center;
}
.trucks-info {
	background-color:#ff9900;
	width: 50%;
	color: #fff;
	letter-spacing: 2px;
	height: 500px;
	text-align: left;
}
.trucks-info h2 {
	margin-left: 100px;
	margin-top: 100px;
}
.trucks-info p {
	margin-left: 100px;
	margin-top: 10px;
}
.trucks-info a{
	color: #fff;
	text-decoration: none;
}
.trucks-info button:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	color: #fff;
	text-decoration: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.trucks-info button {
	border: none;
	color: #fff;
	font-size: 20px;
	background-color:#ff9900;
	margin-left: 100px;
	margin-top: 10px;
	cursor: pointer;
	padding: none;
	text-decoration: none;
}
.footer-up {
	margin-top: -5px;
	display: flex;
	background-color: #2b2b2b;
	padding-top: 40px;
	padding-bottom: 40px;
	letter-spacing: 1.5px;
}
.footer-up h2,span,i,p {
	color: #fff;
}
.footer-up span,p {
	color: #9c9c9c;
}
.footer-up h2 {
	font-weight: 200;
}
.footer-up span,p {
	font-weight: 200;
}
.footer-up span {
	font-size: 12px;
}
.about-us {
	margin-left: 120px;
	text-align: left;
	align-items: center;
	width: 425px;
	border-right: 1px solid #9c9c9c;
}

.about-us h2:after {
  content: "";
  display:block;
  border-top: 2px solid #ff8e00;
  width: 15%;
  margin-top: 5px;
}
.about-us img {
	margin-top: 20px;
	margin-left: -7px;
}
.links {
	width: 190px;
	text-align: left;
	padding-left: 40px;
	text-decoration: none;
}
.links a {
	text-decoration: none;
}
.links p:hover {
	color: #ff8e00;
	text-decoration: none !important;
}
.linkovi:hover {
	color: #ff8e00;
	text-decoration: none !important;
}
.linkovii:hover {
	color: #fff;
	text-decoration:none;
}
.links p {
	margin: 30px 0 30px 0;
}
.links h2:after {
  content: "";
  display:block;
  border-top: 2px solid #ff8e00;
  width: 15%;
  margin-top: 5px;
}
.twitter {
  width: 380px;
  border-left: 1px solid #9c9c9c;
  padding-left: 40px;
  padding-right: 20px;
}
.twitter h2:after {
  content: "";
  display:block;
  border-top: 2px solid #ff8e00;
  width: 15%;
  margin-top: 5px;
}
.instagram {
  width: 425px;
  border-left: 1px solid #9c9c9c;
  padding-left:80px;
}
.instagram h2:after {
  content: "";
  display:block;
  border-top: 2px solid #ff8e00;
  width: 13%;
  margin-top: 5px;
}
.footer {
	background-color: #1f1f1f;
	height: 70px;
	color: #fff;
	font-weight: 200;
	display: flex;
}
.footer-left {
	padding-left: 140px;
	padding-top: 25px;
	letter-spacing: 1.1px;
}
.footer-left a {
	text-decoration: none;
	cursor: pointer;
}
.oms {
	color: #ff8e00;
	text-decoration: none !important;
}
.footer-right {
	margin: 25px 25px 25px 800px;
}
.footer-right i:hover  {
	color: #ff8e00;
	cursor: pointer;
}
.footer-right i{
	margin-left: 45px;
}
/* Cvetko css  */
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trucks {
    padding: 1px 15px 30px 15px;
}

.train-aircraft {
    padding: 1px 15px 30px 15px;
}

.trucks img {
    height: 354px;
    width: 640px;
}

.train-aircraft img {
    height: 354px;
    width: 640px;
}

.testimonials{
    font-size: 32px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 100px;
}

.testimonials span{
    border: 2px solid lightgray;
    padding: 14px 50px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 12px #000000;
    color: #000;
}

.contact-info h3{
    font-size: 38px;
    color: #DB405A;
    padding-bottom: 30px;
    margin-top: auto;
}
.contact-info {
	margin-bottom: 30px;
}

.fa-map-marker-alt {
    font-size: 35px;
    color: #A19D9E;
    padding: 0px 0px 0px 3px;
}

.fa-mobile-alt{
    font-size: 35px;
    color: #A19D9E;
    padding: 0 0 0 6px;
}

.fa-envelope {
    font-size: 35px;
    color: #A19D9E;
}

.address {
    font-size: 16px;
    color: darkgrey;
    margin: -40px 43px 28px 56px;
}

.telephone {
    margin: -29px -7px 38px 54px;
    font-size: 16px;
    color: darkgrey;
}

.mails {
    font-size: 16px;
    color: darkgrey;
    margin: -30px 1px 1px 55px;
}

form {
    width: 350px;
}

input {
    padding: 10px;
    font-size: inherit;
}

input[type="text1"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid lightgray;
}

input[type="email"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid lightgray;
}

input[type="number"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid lightgray;
}

input[type="text"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;

}

input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid lightgray;
    background-color: #DB405A;
    color: white;
    height: 55px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}
.contact-info {
	padding-right: 30px;
}

.reservation {
   padding-left: 35px;
   margin-top: -22px;
   margin-bottom: 40px;
}
.reservation h1{
    margin-bottom: 41px;
    color: #DB405A;
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: -40px;
    color: #FF8E00;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: -40px;
    color: #FF8E00;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
    display: none;
}
/*  Begin Responsive Design */
@media (max-width: 1779px) {
	.footer-right {
		margin: 25px 25px 25px 600px;
	}
}
@media (max-width: 1579px) {
	.footer-right {
		margin: 25px 25px 25px 300px;
	}
}
@media (max-width: 1279px) {
	.footer-right {
		margin: 25px 25px 25px 200px;
	}
	.footer-left {
		padding-left: 40px;
	}
}
@media (max-width: 1079px) {
	.footer-right {
		margin: 15px 15px 15px 100px;
	}
	.footer-left {
		padding-left: 30px;
	}
	.footer {
		height: 50px;
	}
	.footer-left {
		padding-top: 15px;
	}
	.footer-left span {
		font-size: 13px;
	}
}
@media (max-width: 887px) {
	.footer-left span {
		font-size: 11px;
	}
	.footer-right i{
		font-size: 14px;
	}
}
@media (max-width: 802px) {
	.footer-left span {
		font-size: 9px;
	}
	.footer-right i{
		font-size: 10px;
	}
	.footer-right {
		margin: 15px 15px 15px 50px;
	}
}
@media (max-width: 683px) {
	.footer-left span {
		font-size: 8px;
	}
	.footer-left {
		padding-left: 10px;
	}
	.footer-right i{
		font-size: 10px;
		margin: 5px;
	}

}
@media (max-width: 468px) {
	.footer-left span{
		font-size: 7px;
	}
	.footer-right {
		
		margin-left: 10px;
	}
}
@media (min-width: 950px) and (max-width:1600px) {
	.truck-img img {
		height: 600px;
	}
} 
@media (max-width: 1420px) {
	.trucks-info {
		letter-spacing: 1px;
	}
}
@media (max-width: 1227px) {

	.about-us {
		margin-left: 60px;
	}
	.instagram {
		padding-left: 40px;
	}
}
@media (max-width: 1000px) {

	.main_info span{
		font-size: 11px;
	}
	.truck-parking img {
		height: 400px;
	}
	.trucks-info {
		height: 400px;
	}
	.trucks-info h2 {
		margin-left: 50px;
		margin-top: 50px;
		font-size: 18px;
	}
	.trucks-info p {
		margin-left: 50px;
		margin-top: 10px;
		font-size: 13px;
	}
	.trucks-info button {
		margin-left: 41px;
		margin-top: 30px;
	}
	.instagram {
		padding-left: 25px;
	}
}
@media (max-width: 950px) {
	.main_truck_text h1{
		font-size: 4em;
	}
	.main_truck_text p{
		font-size: 0.8em;
	}
	.truck-img img {
		height: 550px;
	}
	.about-us {
		margin-left: 25px;
	}
}
@media (max-width: 900px) {
	.main_info span{
		font-size: 11px;
	}
	.main_info p{
		font-size: 13px;
	}
	.info {
		padding-right: 25px;
		padding-top: 30px;
	}
	.about-us img {
		width: 180px;
	}
	.links {
		padding-left: 17px;
	}
}
@media (min-width: 400px) and (max-width: 800px) {
	.footer-up h2 {
		font-size: 13px;
	}
	.footer-up span{
		font-size: 9px;
	}
	.footer-up p{
	font-size: 11px;
	}
	.about-us img {
		width: 130px;
	}
	.about-us {
		margin-left: 8px;
	}
	.twitter {
		padding-left: 15px;
		padding-right: 15px;
	}
	.instagram img {
		width: 140px;
	}
	.twitter i {
		font-size: 10px;
	}
}
@media (max-width: 803px) {
	.nav {
		font-size: 13px;
	}
	.logo img {
		margin-top: 20px;
	}
	.call {
		margin-left: 120px;
	}
	.truck-img img {
		height: 420px;
	}
	.main_truck_text {
		top: 10%;
	}
	.mail {
		margin-left: 10px;
	}
@media (max-width: 757px) {
	.nav a{
		font-size: 14px;
		margin: 8px;
	}
	.main_truck_text h1{
	font-size: 40px;
	}
	.main_truck_text p{
	font-size: 11px;
	}
	.main_truck_text button{
	font-size: 12px;
	padding: 4px 30px;
	}
	.main_truck_text {
	top: 20%;
	}
	.facility {
		padding-top: 20px;
		margin: 10px;
	}
	.service-support {
		padding-top: 20px;
		margin: 10px;
	}
	.charges-fee {
		padding-top: 20px;
		margin: 10px;
	}
	.delivery {
		padding-top: 20px;
		margin: 10px;
	}
	.truck-parking img {
		height: 280px;
	}
	.trucks-info {
		height: 280px;
	}
	.trucks-info h2 {
		margin-left: 20px;
		margin-top: 25px;
		font-size: 14px;
	}
	.trucks-info p {
		margin-left: 20px;
		margin-top: 4px;
		font-size: 10px;
	}
	.trucks-info button {
		margin-left: 20px;
		margin-top: 35px;
		font-size: 14px;
	}

}
@media (max-width: 703px) {
	.nav img {
		width: 200px;
	}
	.logo img {
		margin-top: 28px;
	}
	.info h2 {
		font-size: 18px;
	}
}
@media (max-width: 638px) {
	.nav img {
		width: 140px;
	}
	.logo img{
		margin-top: 35px;
	}
	.nav {
		font-size: 12px;
	}
	.info button {
		padding: 5px 30px;
		font-size: 12px;
	}
}
@media (max-width: 603px) {
	.header-main a {
		font-size: 13px;
	}
	.call  {
	margin-left: 35px;
	}
	.trucks-info button {
		margin-left: 12px;
		margin-top: 20px;
	}
}
@media (max-width: 465px) {
	.call {
		margin-left: 0;
	}
	.trucks-info h2 {
		font-size: 12px;
	}
	.trucks-info p {
		font-size: 9px;
	}
}
@media (min-width: 761px) and (max-width: 781px) {
	.navigation a {
		font-size: 12px;
	}
}

@media (min-width: 1400px) {
		 .links {
	}
}
@media (max-width: 576px) {
	.nav a{
		font-size: 12px;
	}
	.nav img {
		width: 100px;
	}
	.logo img {
		margin-top: 39px;
	}
	.facility {
		padding-top: 10px;
		margin: 4px;
	}
	.service-support {
		padding-top: 10px;
		margin: 4px;
	}
	.service-support p{
		margin-bottom: 15px;
	}
	.charges-fee {
		padding-top: 10px;
		margin: 4px;
	}
	.delivery {
		padding-top: 30px;
		margin: 4px;
	}
	.delivery img {
		margin-top: -15px;
	}
	.delivery p {
		margin-top: 18px;
		margin-bottom: 16px;
	}
	.delivery span {
		margin-top: 35px;
	}
	.twitter span{
		display: none;
	}
	.links {
		padding-left: 8px;
	}
	.links p {
	color: #ff9900;
	}
}
@media (min-width: 573px) and (max-width:804px) {
	.links p {
		color: #ff9900;
	}
}
@media (max-width: 491px) {
	.nav a {
		margin: 5px;
		font-size: 10px;
	}
	.nav img {
		width: 89px;
	}
	.nav img {
		margin-top: 40px;
	}
	.header-main a{
		font-size: 11px;
	}
	.main_info span{
	font-size: 9px;
	}
	.main_info button {
		margin-top: 0;
	}
	.main_info p {
		font-size: 12px;
	}
	.links p {
		color: #ff9900;
	}
}
/* Responsive Cvetko */

@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -25%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 25%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.container {
    margin-bottom: 50px;
}
body {
    font-family: 'Bitter', sans-serif;
    color: #E54A41;
    background-image: url('//static.rtpdesign.co.uk/blog/img/background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20%;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 2em;
}
h2 {
    margin: 2em 0 1em;
}
.logo {
    margin: 20px auto;
    height: 100px;
}
@media only screen and (min-width: 768px) {
    .logo {
        margin: 28px;
        float: left;
    }
}
.title {
    padding: 28px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.carousel-inner {
    align-items: center;
}

.carousel-control.left {
    background-image: none!important;
}

.carousel-control.right {
    background-image: none!important;
}


@media screen and (max-width: 1349px) {
    .testimonials {
        font-size: 25px;
    }
}

@media screen and (max-width: 1115px) {
    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .fa-map-marker-alt {
        padding-right: 192px;
    }
    .address {
        padding: 4px 1px 4px 79px;
    }
    .fa-mobile-alt{
        padding-right: 192px;
    }
    .telephone{
        padding: 0px 59px 4px 1px;
    }
    .fa-envelope{
        padding-right: 186px;
    }
    .mail{
        padding: 1px 52px 77px 0px;
    }
    .map{
        border: 1px solid lightgrey;
        height: 450px;
        width: 400px;
        margin: auto;
    }
    .reservation h1{
        padding-top: 60px;
    }
    .form {
        margin: 0 auto;
        padding-right: 11px;
    }

}

@media screen and (max-width: 720px) {
    .flex img {
        width: 510px;
        height: 300px;
    }
}

@media screen and (max-width: 573px) {
    .flex img {
        width: 370px;
        height: 170px;
    }
}

@media screen and (max-width: 573px) {
    .flex img{
        width: 300px;
        height: 150px;
    }
}

@media screen and (max-width: 573px) {
    .testimonials {
        font-size: 17px;
    }

}

@media screen and (max-width: 526px) {
    .map{
        width: 300px;
        height: 350px;
    }
}


